:root{
    --body-color : #EEEFE0;
    --body-color-darker: #D1D8BE;
    --accent : #A7C1A8;
    --accent-darker : #819A91;
}

body{
    background-color: var(--body-color);
    font-family: Roboto;
    height: 100vh;
    margin : 0;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn{
    
    border: none;
    background-color: var(--body-color-darker);
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    margin-left: 10px;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}

.img{
    height: 600px;
    border-radius: 3%;
}

#content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}